/*====== Warning Theme ======*/
body.theme-warning {
   .text-primary,
   .breadcrumb  a,
   .dropdown-foot a,
   .faq-page-wrapper .panel-heading h4 {
      color: $warning !important;
   }
   .rct-dropdown .dropdown-menu .rct-scroll ul li a:hover,
   .humburger,
   .search-icon::before,
   .Select-placeholder,
   .Select-arrow-zone,
   .header-icon,
   .navbar-right > li > a > button,
   .navbar-right > li > button,
   .dropdown-group-link,
   .search-icon-btn {
      color: $white !important;
   }

   .badge-primary,
   .bg-primary,
   .btn-primary,{
      *{
         color: $white !important;
      }
   }

   .badge-primary,
   .bg-primary,
   .btn-primary,
   .app-header .rct-header,
   .chat-body .chat-bubble.odd,
   .rct-dropdown .dropdown-menu ul li a:hover,
   .fixed-plugin,
   header .dropdown-group-link,
   figure.img-wrapper::after,
   .rct-sidebar .site-logo,
   .rbc-event {
      background: $warning!important;
   }

   .btn-primary,
   .rct-dropdown .dropdown-group-link, 
   .header-icon:hover,
   .feed-content,
   .rbc-event {
      border-color: $warning !important;
   }

   //Color Switching

   .text-warning {
      color: $primary !important;
   }
   .badge-warning,.bg-warning,.btn-warning {
      background: $primary !important;
   }
   .btn-warning {
      border-color: $primary !important;
   }
}

